body {
    font-family: 'Helvetica';
    width: 100%;
}

/* header */

header {
    background-color: #F1F3FF;
    height: 500px;
}

/* @media (max-width: 600px) {
    header {
        position: absolute;
        width: 100%;
        height: 657px;
        left: 0px;
        top: 0px;

        background: #F1F3FF;
    }
} */


.h2-1 {
    /* Sewa & Rental Mobil Terbaik di kawasan (Lokasimu) */


    position: absolute;
    width: 568px;
    height: 108px;
    left: 108px;
    top: 110px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */


    color: #000000;

}

/* Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu untuk sewa mobil selama 24 jam. */

.p1 {

    position: absolute;
    width: 468px;
    height: 60px;
    left: 108px;
    top: 240px;

    /* Body/14/Light */

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;

}

.button1 {
    /* Body/14/Bold */

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Neutral/10 */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    background: #5CB85F;
}

.button2 {

    position: absolute;
    left: 108px;
    top: 320px;
    height: 36px;
    /* Primary/LimeGreen/04 */

    background: #5CB85F;

    /* Body/14/Bold */

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Neutral/10 */
    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Button 3*/
.button3 {

    box-sizing: border-box;

    /* Auto layout */

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    height: 36px;
    left: 514px;
    top: 226px;

    /* Neutral/10 */
    color: #FFFFFF;

    /* Primary/LimeGreen/04 */

    background: #5CB85F;
    border-radius: 2px;
}

.img-car {
    position: absolute;
    top: 97px;
    right: 0px;
}

/* end header */

/* Our Services */

.our-service {

    width: 1027px;
    height: 428px;
    left: 206px;

}

.img-service {
    /* img_service */

    position: absolute;
    width: 459px;
    height: 428px;
    left: 15%;
    top: 604px;

}

/* desc */

/* Auto layout */
.service-desc {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 468px;
    height: 356px;
    left: 55%;
    top: 635px;

}

/* Best Car Rental for any kind of trip in (Lokasimu)! */

.service-header {

    width: 468px;
    height: 72px;

    /* Heading/24/Bold */

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Sewa mobil di (Lokasimu) bersama Binar Car Rental jaminan harga lebih murah dibandingkan yang lain, kondisi mobil baru, serta kualitas pelayanan terbaik untuk perjalanan wisata, bisnis, wedding, meeting, dll. */

.service-desc-info {

    width: 468px;
    height: 60px;

    /* Body/14/Light */
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


/* list item */
.service-frame ul {
    list-style: none;
    background-image: url(img/icon/checklist.svg);
    background-repeat: no-repeat;
}

.service-frame li {
    /* Sewa Mobil Dengan Supir di Bali 12 Jam */


    width: 255px;
    height: 24px;

    /* Body/14/Light */

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Why Us */
.why-us {

    position: absolute;
    width: 1168px;
    height: 308px;
    left: 136px;
    top: 1132px;
}

/* Why Us? */

.why-header {

    height: 36px;
    left: 9.44%;
    right: 58.06%;
    top: 1132px;

    /* Heading/24/Bold */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    color: #000000;

}

.why-content {
    /* Mengapa harus pilih Binar Car Rental? */

    width: 468px;
    height: 20px;
    left: 136px;
    top: 1184px;

    /* Body/14/Light */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    color: #000000;
}

.why-cards {
    /* Frame 98 */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 268px;
    height: 196px;

    /* Neutral/02 */

    border: 1px solid #D0D0D0;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-body img {
    /* icon_complete */

    margin-bottom: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.why-title {
    /* Mobil Lengkap */


    width: 140px;
    height: 24px;

    /* Title/16/Bold */

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.why-text {
    /* Tersedia banyak pilihan mobil, kondisi masih baru, bersih dan terawat */


    width: 220px;
    height: 60px;

    /* Body/14/Light */

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

/* Testimonial */
.testimonial {
    /* Testimony */


    position: absolute;
    width: 1921px;
    height: 438px;
    left: -241px;
    top: 1540px;
}

.testi-header {
    /* Testimonial */

    height: 36px;
    top: 1540px;

    /* Heading/24/Bold */

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #000000;
}

/* Berbagai review positif dari para pelanggan kami */

.testi-desc {

    height: 20px;
    left: 466px;
    top: 1592px;

    /* Body/14/Light */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;

    color: #000000;

}

/* holder */

.testi-item {

    height: 270px;
    left: 410px;
    top: 1652px;

    background: #F1F3FF;
    /* Shadow/Low */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    background: none !important;
    outline: none !important;
}

/* CTA Banner */
.cta-banner {
    position: absolute;
    width: 1168px;
    height: 326px;
    left: 136px;
    right: 136px;
    top: 2078px;

    /* Primary/DarkBlue/04 */

    background: #0D28A6;
    border-radius: 13px;
}

/* Sewa Mobil di (Lokasimu) Sekarang */
.cta-header {
    position: absolute;
    height: 54px;
    top: 64px;
    left: 300px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */

    text-align: center;

    /* Neutral/01 */

    color: #FFFFFF;

}

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. */
.cta-desc {

    position: absolute;
    width: 468px;
    height: 40px;
    left: 347px;
    top: 134px;

    /* Body/14/Light */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    /* Neutral/01 */

    color: #FFFFFF;
}

/* FAQ */
.faq {
    position: absolute;
    width: 1168px;
    height: 344px;
    left: 136px;
    top: 2504px;
}

/* Frequently Asked Question */
.faq-header {

    height: 36px;
    left: 9.44%;
    right: 65%;
    /* Heading/24/Bold */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    color: #000000;

}

.faq-desc {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit */

    width: 368px;
    height: 20px;
    left: 136px;

    /* Body/14/Light */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    color: #000000;
}

/* list faq */
.faq-list {

    /* Auto layout */
    position: absolute;
    width: 668px;
    top: 0;
    left: 42%;

}

/* Footer */
footer {


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 86px;

    position: absolute;
    width: 1141px;
    height: 128px;
    left: 136px;
    top: 2998px;
    bottom: 100px;

    /* Body/14/Light */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;

}

/* address */
.foot-address {

    width: 268px;
    height: 112px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000 */
.foot-alamat {

    position: absolute;
    width: 268px;
    height: 40px;
    left: 0px;
    top: 0px;

}

/* binarcarrental@gmail.com */
.foot-email {

    position: absolute;
    width: 268px;
    height: 20px;
    left: 0px;
    top: 56px;

}

/* 081-233-334-808 */
.foot-nomer {

    position: absolute;
    width: 268px;
    height: 20px;
    left: 0px;
    top: 92px;

}

.foot-navi {
    /* navigation */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: relative;
    width: 79px;
    height: 128px;
    left: 86px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Our services */
.foot-service {

    width: 79px;
    height: 20px;
    top: 0px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

/* Sosmed */
.foot-sosmed {

    position: relative;
    width: 268px;
    height: 68px;
    left: 190px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.foot-icon {
    /* list item */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 224px;
    height: 32px;
    top: 36px;
    left: 0;

}

.foot-copyright {
    /* Copyright */


    width: 268px;
    height: 70px;


    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}